<?xml version="1.0"?>
<configuration>
    <system.web>

    </system.web>
  <system.serviceModel>
    <services>
      <service name="RSSFeedApp.VotingService.VotingService" behaviorConfiguration="VotingServicesBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1430/VotingService/VotingService.svc" />
          </baseAddresses>
        </host>
        <endpoint name="VotingServiceServiceEndpoint" binding="webHttpBinding" behaviorConfiguration="web" bindingName="webHttpBinding" address="/" contract="RSSFeedApp.VotingService.IVotingService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="webHttpBinding" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="VotingServicesBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
